# EditorConfig is awesome: https://EditorConfig.org

# top-most EditorConfig file
root = true

# Unix-style newlines with a newline ending every file
[*] # Applies to all files
end_of_line = lf
insert_final_newline = true
charset = utf-8
trim_trailing_whitespace = true

[*.py] # Python files
indent_style = space
indent_size = 4

[*.md] # Markdown files
trim_trailing_whitespace = false 